html,
body {
	height: 100dvh;
	max-height: 100%;
	max-height: 100vh;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
}

html:before,
html:after,
body:before,
body:after {
	content: "";
	background: linear-gradient(#203075, #233581);
}

html:before,
body:before {
	background: linear-gradient(#233581, #203075);
}

html {
	background: linear-gradient(#203075, #233581);
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-family: var(--font-read), Sans-serif;
	text-shadow: 0 30px 10px rgba(0, 0, 0, 0.15);
}

.main {
	text-align: center;
	z-index: 5;
	height: max-content;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

p {
	font-size: 24px;
	margin: 5px 0 30px;
	width: 100%;
}

h1 {
	font-size: 95px;
	margin: 0;
	font-family: var(--font-mono), monospace;
}

a {
	text-decoration: none;
	background: var(--accent-linear);
	padding: 8px 25px;
	border: none;
	font-weight: 500;
	font-size: 18px;
	border-radius: 15px;
	box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
	outline: none;
	color: #FFF;
	font-family: var(--font-text), Sans-serif;
	cursor: pointer;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.bubble {
	background: var(--accent-linear);
	border-radius: 50%;
	box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
	position: absolute;
}

.bubble:before,
.bubble:after {
	content: "";
	background: var(--second-linear);
	border-radius: 50%;
	box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
	position: absolute;
}

.bubble:nth-child(1) {
	top: 15vh;
	left: 15vw;
	height: 22vmin;
	width: 22vmin;
}

.bubble:nth-child(1):before {
	width: 13vmin;
	height: 13vmin;
	bottom: -25vh;
	right: -10vmin;
}

.bubble:nth-child(2) {
	top: 20vh;
	left: 38vw;
	height: 10vmin;
	width: 10vmin;
}

.bubble:nth-child(2):before {
	width: 5vmin;
	height: 5vmin;
	bottom: -10vh;
	left: -8vmin;
}

.bubble:nth-child(3) {
	top: 12vh;
	right: 30vw;
	height: 13vmin;
	width: 13vmin;
}

.bubble:nth-child(3):before {
	width: 3vmin;
	height: 3vmin;
	bottom: -15vh;
	left: -18vmin;
	z-index: 6;
}

.bubble:nth-child(4) {
	top: 25vh;
	right: 18vw;
	height: 18vmin;
	width: 18vmin;
}

.bubble:nth-child(4):before {
	width: 7vmin;
	height: 7vmin;
	bottom: -10vmin;
	left: -15vmin;
}

.bubble:nth-child(5) {
	top: 60vh;
	right: 18vw;
	height: 28vmin;
	width: 28vmin;
}

.bubble:nth-child(5):before {
	width: 10vmin;
	height: 10vmin;
	bottom: 5vmin;
	left: -25vmin;
}