<footer class="footer">
  <div class="microsoft-badge">
    <h1 class="title">Our Partners</h1>
    <img src="/static/img/mslight.png" alt="Microsoft badge">
  </div>

  <section class="newsletter">
    <div class="title">Join Our Newsletter</div>
    <div class="text">
      Stay up to date with our news, blog posts, and announcements by subscribing to our Newsletter.
    </div>
    <form action="/soon" method="post">
      <input type="email" name="email" id="" placeholder="Enter your email">
      <input id="service-oops" type="submit" value="Subscribe">
    </form>
  </section>
  <section class="item-one">
    <div class="title">Resources</div>
    <ul class="footer-list">
      <li class="item">
        <a href="/soon" class="item-link">Docs</a>
      </li>
      <li class="item">
        <a href="/soon" class="item-link">What’s New</a>
        <span class="dot"></span>
      </li>
      <li class="item">
        <a href="/soon" class="item-link">Give a feedback </a>
      </li>
      <li class="item">
        <a href="/soon" class="item-link">Request a feature</a>
      </li>
      <li class="item">
        <a href="/soon" class="item-link">Source code</a>
        <span class="dot"></span>
      </li>
      <li class="item">
        <a href="https://www.buymeacoffee.com/femar" class="item-link" blank="_blank">Support us</a>
      </li>
      <li class="item">
        <a href="/soon" class="item-link">Contact</a>
      </li>
      <li class="item">
        <a href="/soon" class="item-link">Terms of Use</a>
      </li>
    </ul>
  </section>
  <div class="copy">
    <div class="copyright">
      <i class="copy">&copy;</i>
      <a href="https://github.com/aduki-inc" id="copyright">2024 aduki,Inc</a>
    </div>
  </div>
</footer>