body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */
  background: var(--background);
}

body > section.content {
  border: 1px solid #ccc;
  flex: 1;
  max-width: 450px;
  width: 450px;
  padding: 39px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: calc(100dvh - 40px);
  max-height: calc(100dvh - 40px);
  min-height: calc(100dvh - 40px);
}

@media screen and (max-width: 660px) {
  body {
    padding: 0 10px;
  }
  
  body > section.content {
    width: 100%;
    border: none;
    padding: 0;
    height: 100dvh;
    max-height: 100dvh;
    overflow-y: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  body > section.content::-webkit-scrollbar {
    display: none !important;
    visibility: hidden !important;
  }
  
}