<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/theme.css">
	<link rel="stylesheet" href="/static/css/404.css">
	<link rel="shortcut icon" href="/static/img/favi.png" type="image/x-icon">
	<title>Pau | Page not found</title><meta name="description" content="The page you are looking for is not found!">
	<meta property="og:title" content="404 Page not found">
</head>

<body>
	<div class="bubble"></div>
	<div class="bubble"></div>
	<div class="bubble"></div>
	<div class="bubble"></div>
	<div class="bubble"></div>
	<div class="main">
		<h1>404</h1>
		<p>It looks like you're lost...<br />That's a trouble?</p>
		<a href="/home" type="button">Go back</a>
	</div>
</body>
</html>