<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/theme.css">
	<link rel="stylesheet" href="/static/css/404.css">
	<link rel="shortcut icon" href="/static/img/favi.png" type="image/x-icon">
	<title>Pau | Bad Gateway</title>
	<meta name="description" content="An internal server error occurred. Please back to home page.">
	<meta property="og:title" content="500 Internal server error">
</head>

<body>
	<div class="bubble"></div>
	<div class="bubble"></div>
	<div class="bubble"></div>
	<div class="bubble"></div>
	<div class="bubble"></div>
	<div class="main">
    <h1>502</h1>
    <p>
			Bad Gateway, an internal server error occurred.
			<br>That's strange, aint it? </p>
    <a href="/home" type="button">Go home</a>
	</div>
</body>
</html>


