<!DOCTYPE html>
<html lang="en">

  <!--  Head/Meta  Start-->
  <% var title = "Join Zoanai | " + data.about %>
  <% var image = "/static/img/fav.png" %>
  <% var description = "Explore, engage, and evolve your perspectives with our community." %>
  <%- include('../partials/meta', {
    title: title, image: image, description: description
  }); %>
  <!--  Head/Meta  End-->

  <body>
    <!--App Logon page Start-->
      <%- include('../partials/apps/logon', {data: data}); -%>
    <!--App Logon page End-->
  </body>

</html>