<!DOCTYPE html>
<html lang="en">
  <%# Head/Meta  Start  %>
  <% var image = "/static/img/fav.png" %>

  <% image = data.images && data.images.length > 0 ? data.images[0] : image %>

  <%# Remove all tags %>
  <% var content = data.content.replace(/<[^>]*>/g, '').replace(/\s+/g, ' ').trim() %>

  <%# Check if content is null %>
  <% if (content == null) { content = "This reply has no content." } -%>
  <%- include('../partials/meta', {
    title: 'Reply | by ' + data.author, image: image, description: content.length > 100 ? content.substring(0, 100) + "..." : content
  }); -%>
  <%# Head/Meta  End %>

  <body>
    <%# App Logon page Start %>
      <%- include('../partials/apps/reply', data); -%>
    <%# App Logon page End %>
  </body>

</html>