<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/meta', {meta: meta}); -%>
  <body>
    <main-app name="home" style="display: none;">
    <%- include('../apps/user', {data: data}); -%>
    </main-app>
    <%- include('../partials/foot'); -%>
  </body>  
</html>