<!DOCTYPE html>
<html lang="en">

  <!--  Head/Meta  Start-->
  <% var title = "User | " + data.name %>
  <%# Separate the name into first and last name %> 
  <% var name = data.name.split(" ") %>

  <%#  check if the profile picture is null and overwrite it with the default picture  %> 
  <% var picture = data.picture === null ? "https://ui-avatars.com/api/?background=d9e7ff&bold=true&size=100&color=fff&name=" + name[0] + "+" + name[1] : data.picture %>

  <%# Check if bio is null and overwrite it with the default bio %> 
  <% var bio = data.bio === null ? "This user has not added a bio yet." : data.bio %>

  <%- include('../partials/meta', {
    title: title, image: picture, description: bio
  }); %>
  <!--  Head/Meta  End-->

  <body>
    <!--App Logon page Start-->
      <%- include('../partials/apps/user', data); %>
    <!--App Logon page End-->
  </body>

</html>